<div style="float:left">
  <h3><%= link_to "Clients", admin_clients_path %>: <%= @client.name %></h3>
</div>
<div style="float:right">
  <!--span style="">
    <a href="#" class="btn danger" data-controls-modal="delete_client_modal_dialog">Delete Client</a>
  <span-->
  <span style="margin-left:20px;">
    <%= link_to "Edit Client Info", edit_admin_client_path(@client.id), { :class => "btn btn-success" } %>
    <a href="#" class="btn btn-success" data-controls-modal="generate_hidden_users_modal_dialog">Generate Users</a>
    <a href="#" class="btn btn-primary" data-controls-modal="download_users_modal_dialog">Download All Users List</a>
  </span>
</div>

<div style="clear:both"></div>

<div class="client_info">
  <h4>Client Info</h4>
  <div class="details">
    <div class="row">
      <div class="span2">Client Name:</div>
      <div class="span3"><%= @client.name %></div>
      <div class="span2">Email Address:</div>
      <div class="span3"><%= @client.email %></div>
    </div>
    <div class="row">
      <div class="span2">Password:</div>
      <div class="span3"><%= @client.password %></div>
      <div class="span2">API key:</div>
      <div class="span3"><%= @client.api_key %></div>
    </div>
    <div class="row">
      <div class="span7"><small>* There is a preview user for this client with the same email/password</small></div>
    </div>

    <div style="clear:both"></div>

    <%= render :partial => "associated_tours" %>

    
    <div style="clear:both"></div>
    <%= render :partial => "associated_users" %>
  </div>
</div>

<% if @client.tours.count == 0 %>
<%= render :partial => "delete_client_modal_dialog" %>
<% end %>

<%= render :partial => "associated_tours_modal_dialog" %>

<%= render :partial => "generate_hidden_users_modal_dialog" %>

<div id="download_users_modal_dialog" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3><%= @client.name %>: Download Users List</h3>
  </div>
  <div class="modal-body">
    <div style="text-align:center">
      <%= link_to "Download as .csv", admin_clients_download_csv_userlist_path(@client.id), :onclick => "$('#download_users_modal_dialog').modal('hide')",:class => "btn primary" %>
    </div>
  </div>
  <div class="modal-footer">
    <div style="float:right;margin-left:10px;margin-top:5px;">
      <a href="#" onclick="$('#download_users_modal_dialog').modal('hide')">Cancel</a>
    </div>
  </div>
</div>
